@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #11071f;
}
header {
  background: #1a0b2e;
}
.rotet {
  background-image: url("./Pppng.png");
  background-repeat: no-repeat;  
  background-position: top;
}
.rote {
   background-image: url("./Pppng.png");
  background-repeat: no-repeat;  
  background-size: 60vh ;
  background-position: top;
}
.bbb{
  background-image: url("./Card.png");
  background-repeat: no-repeat;  
}
.broo{
  background-image: url(2023-03-23_14-51-56.png);
  background-size:70vh;
    background-repeat: no-repeat;  

}
.teskari{
  background-image: url("./Cardko.png");
  background-repeat: no-repeat;  
}
.vor{
   background-image: url("./olttii.png");
  background-repeat: no-repeat;  
  background-size: 50vh;
}
.bro{
  background-image:url(./Instagrem.png) ;
  background-repeat: no-repeat;
}
.bros{
  background-image:url(./Subtract.png) ;
  background-repeat: no-repeat;
}
.brod{
  background-image:url(./Subtractdd.png) ;
  background-repeat: no-repeat;
}
.boo{
  background-color: #2B0B3A;
}